body{
  background-image: url(../images/background/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.full-page-container {
  max-width: 1366px;
  height: 768px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/* header (logo, contact info) */

.header-container {
  width: 1028px;
  height: 61px;
  margin: 0 auto;
}

.logo-contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  color: #fff;
}


.logo {
  display: flex;
}


.logo-img {
  width: 53px;
  height: 47px;
}

.logo:hover .logo-img {
  opacity: 0;
 }

.logo-bgnd{
  display: none;
  position: fixed;
}

.logo:hover .text{
  color: rgba(242, 101, 34, 1);
}


.logo:hover .logo-bgnd {
  display: block;
 }


.text {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 8px;
  font-weight: bold;
}

.milan {
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 3px;
}

.holidays {
  font-size: 18px;
  line-height: 18px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

address {
  color: #fff;
}

.email {
  margin-bottom: 19px;
}

/*main (tour's variants, details) */

.holidays-variants {
  margin: 0 auto;
  max-width: 1030px;
  height: 560px;
}

.photo-menu {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  grid-gap: 78px 62px;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
}


.item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  height: 220px;
}

.item:hover {
  display: block;
}

.subscribe {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.images-size {
  width: 300px;
  height: 220px;
}

.view_details {
  display: none;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  bottom: -2px;
  background-color: rgba(242, 101, 34, 1);
  width: 100%;
  height: 55px;
}

.item:hover .view_details{
  display: flex;
}

.view_details:hover {
  display: block;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 16px;
}

.from {
  font-size: 10px;
}

.euro{
  font-size: 20px;
  margin-bottom: 8px;
}

.details {
  display: flex;
  font-size: 14px;
  margin-top: 29px;
  margin-right: 14px;
}

.details::after {
  content: '>';
  margin-left: 16px;
}
/* я пробовала сделать символ '^' через transform: rotate(), но не сработало и я не нашла ответ почему, потому там стоит такая стрелочка*/ 

.item:hover .subscribe {
  color: rgba(242, 101, 34, 1);
}

/* footer */

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 15px;
}
